.history-item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  margin: 0px 16px;
}
.time-accessed {
  font-weight: bold;
  color: #475569;
  margin-right: 40px;
}
.title-and-logo-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.domain-logo {
  width: 18px;
  margin-right: 12px;
}
.title-container {
  margin: 0px;
  padding: 0px;
}
.title {
  color: #475569;
  padding: 0px;
  margin: 0px;
  font-weight: 500;
}
.domain-url {
  color: #64748b;
  padding: 0px;
  margin: 0px;
}
.button {
  border: 0px;
  background-color: transparent;
  margin-left: auto;
}
